.shop-container{
    display: grid;
    grid-template-columns:4fr 1fr  ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
/* selected cart css  */
.selected-cart{
    width: 200px;
    height: 500px;
    margin-left: 10px;
    background-color: aliceblue;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.btn-one{
    padding: 10px;
    cursor: pointer;
    
}
.btn-two{
    padding:10px 20px;
    cursor: pointer;
}
.btn-one:hover{
    background-color: rgb(161, 113, 54);
}

/* mobaile rasponsive  */
@media screen and (max-width:480px) {
    .shop-container{
        grid-template-columns:1fr;
        margin: auto;
    }
    .products-container{
        grid-template-columns:1fr;
        margin:auto;
    }
   
}
/* Dastop rasponsib  */
@media screen and (max-width:1080px) {
    .shop-container{
        grid-template-columns:3fr;
        margin: auto;
    }
    .products-container{
        grid-template-columns:3fr;
        margin:auto;
    }
}
