.product{
    width: 280px;
    height: 720px;
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px ;
    position: relative;
    border: 2px solid #852888;;
}
.product img{
    width: 265px;
    height: 280px;
    padding: 7px;
    border-radius: 5px;
}
 /* cart button css  */
 .buton-cart{
     width: 100%;
     border:none;
     border-radius: 0px 0px 8px 8px;
     cursor: pointer;
     position: absolute;
     bottom: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content:center;

   /* button and icon css  */
 }
 .buton-text{
 font-weight: bold;
 font-size: 15px;
 color: rgb(113, 7, 122);
 margin-right: 10px;
 }
  .icon{
    font-size: 15px;
    color: rgb(113, 7, 122);
 }
 .buton-cart:hover{
    background-color: rgb(161, 113, 54);
     
 }